body{
    margin: 0px;
    width:100vw;
}

.room{
    position: relative;
    left:40px;
    top:40px;
}

.container{
    height: auto;
    min-height: 100vh;
    left:0;
    display:flex;
}

#form{
    flex: 0 auto;
    width: 25vw;
    background: lightgrey;
    border-left: 2px solid;
    z-index:99999 ;
    position: sticky;
    bottom: 0px;
    height:auto;    
}
#form > * {
    width: 90%;
    margin-left: 10px;
}

#roomContainer{
    width:75vw;
    height: auto;
    left:25vw;
    z-index: 99999;
    overflow: scroll;
}
.radio{
    margin-top: 30px;
    margin-left:0px;
    margin-right:5px;
    margin-bottom:8vh;
}

p{
    margin-top:5px;
    margin-bottom:5px;
}

label {
    position: relative;
    display: inline;

}

.slider{
    width:92%;
    margin-bottom:8vh;
    background-color: white;
}

#x, #y{
    width:10.5vw;
    margin-right:13px; 
    margin-bottom: 15px;   
}
#setbtn{
    width:90%;
    margin-bottom: 8vh; 
}

#startbtn, #resetbtn {
    width:11vw;
    margin-right:10px; 
    margin-bottom: 8vh; 
}

#command, #size{
    width:90%;
    margin-bottom: 15px; 
}

li{
    margin-bottom: 15px;
}

#result{
    background-color: #f9fafb;
    border-radius: 5px;
    width:90%;
    height: auto;
    border-left: 3px solid;
}
#result > *{
    padding:10px;
}
#commandContainer{
    width:100%;
    margin-right:0px;
    padding:0px;

}
